/* generle rules */

/* Navbar*/
.header_img{
  width: 100%;
  height: 30px;
  padding: 5px 0;
}

.nav_black{
  background-color: black;
  text-align: right;
}

.nav_con_logo{
  display: inline-block;
  padding: 5px 10px;
}